Flaky GPG EdDSA tests

**Description of issue or feature request**:

Excerpt from GitHub Action log with sporadically failing gpg eddsa tests observed on different Python versions ~and operating systems~:

```
======================================================================
FAIL: test_gpg_sign_and_verify_object_with_default_key (tests.test_gpg.TestGPGEdDSA)
Create a signature using the default key on the keyring
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Users/runner/work/securesystemslib/securesystemslib/tests/test_gpg.py", line 763, in test_gpg_sign_and_verify_object_with_default_key
    self.assertTrue(verify_signature(signature, key_data, test_data))
AssertionError: False is not true

======================================================================
FAIL: test_gpg_sign_and_verify_object_with_specific_key (tests.test_gpg.TestGPGEdDSA)
Create a signature using a specific key on the keyring
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Users/runner/work/securesystemslib/securesystemslib/tests/test_gpg.py", line 777, in test_gpg_sign_and_verify_object_with_specific_key
    self.assertTrue(verify_signature(signature, key_data, test_data))
AssertionError: False is not true
```

See  https://github.com/in-toto/in-toto/issues/171 for a similar issue, i.e. sporadically failing gpg *rsa* tests. The code snippets that were used to reproduce/troubleshoot the issue back then might be helpful for this issue as well.


**Current behavior**:
Sporadically failing tests:
- `tests.test_gpg.TestGPGEdDSA.test_gpg_sign_and_verify_object_with_default_key`
- `tests.test_gpg.TestGPGEdDSA.test_gpg_sign_and_verify_object_with_specific_key`

**Expected behavior**:
No sporadically failing tests.




Right now we can only say for sure that the issue occurred on macOS runners. This would also explain why we can't recall these failures from before switching to GitHub actions (when we didn't test on macOS).

This indeed might be a padding issue again. I ran one of our debugging scripts from in-toto/in-toto#171 and it looks like signature verification failure is related to the signature length. 


```python
import securesystemslib.gpg.functions as f
from collections import Counter
counter = Counter()

keyid = "4E630F84838BF6F7447B830B22692F5FEA9E2DD2"
homedir = "tests/gpg_keyrings/eddsa"
pubkey = f.export_pubkey(keyid, homedir=homedir)
data = b"hello"

for i in range(0,10000):
  sig = f.create_signature(data, keyid=keyid, homedir=homedir)
  valid = f.verify_signature(sig, pubkey, data)
  counter[(len(sig["signature"]), valid)] += 1
  print(i)

print(counter)

# Counter({(128, True): 9836, (126, False): 164})
```




So we use gpg to sign, but cryptography/openssl to verify and these two don't agree what the signature should look like? So we need to zero pad if the length is not what openssl expects?

I wonder if this has been reported to openssl?

> So we use gpg to sign, but cryptography/openssl to verify

Correct.

>  these two don't agree what the signature should look like

That's what we discovered in the case of "pgp+rsa-pkcsv1.5" signatures (see in-toto/in-toto#171), I still need to confirm if that's also true for "pgp+eddsa-ed25519". 

> I wonder if this has been reported to openssl?

I haven't. But it could be that @SantiagoTorres reached out.


Had trouble believing this but... `Using GNUPG=./gpg-fake-time` with this in gpg-fake-time:
```
#!/bin/bash
gpg --faked-system-time 1613479847 "$@" 
```
does trigger the issue every time. Wow.


Do you know why?

The signature contains the timestamp in it and some (rare) timestamps trigger the signature to not include (according to your findings) a leading byte `\x00`. Why this happens? No idea at all.

After further inspecting the invalid signatures it seems like it's always the parameter `s` that is one byte short.
https://github.com/secure-systems-lab/securesystemslib/blob/239700728f05f51f6923ee5c054353f12bcbe7c1/securesystemslib/gpg/eddsa.py#L105-L140

I did find this in a mildly related reference document (i.e.: [PKCS #11 Cryptographic Token Interface, Section EC Signatures](http://docs.oasis-open.org/pkcs11/pkcs11-curr/v2.40/errata01/os/pkcs11-curr-v2.40-errata01-os-complete.html#_Toc441850447)):

> An ECDSA signature is an octet string of even length which is at most two times nLen octets, where nLen is the length in octets of the base point order n. The signature octets correspond to the concatenation of the ECDSA values r and s, both represented as an octet string of equal length of at most nLen with the most significant byte first. If r and s have different octet length, the shorter of both must be padded with leading zero octets such that both have the same octet length. Loosely spoken, the first half of the signature is r and the second half is s.

I couldn't find anything in the directly related RFCs, i.e. [RFC 4880 (successor)](https://tools.ietf.org/html/draft-ietf-openpgp-crypto-refresh-01) and [RFC 8032](https://tools.ietf.org/html/rfc8032), but it does seem like zero-left-padding the signature parameter `s` does the trick:

```patch

diff --git a/securesystemslib/gpg/eddsa.py b/securesystemslib/gpg/eddsa.py
index 5037085..86ec84d 100644
--- a/securesystemslib/gpg/eddsa.py
+++ b/securesystemslib/gpg/eddsa.py
@@ -137,6 +137,9 @@ def get_signature_params(data):
   ptr += 2
   s = data[ptr:ptr + s_length]
+  r = r.rjust(max(r_length, s_length), b"\x00")
+  s = s.rjust(max(r_length, s_length), b"\x00")
+
   return r + s
```

This seems right. `gpg --list-packets` confirms it is the second data section ("s") that is shorter in this case and your solution seems fine to me -- would be great to have a gpg-understander confirm that this is not a bug but how it's supposed to work... It seems like an odd place to save a byte but :shrug:


> would be great to have a gpg-understander confirm that this is not a bug but how it's supposed to work

Agreed, I'm a bit hesitant to PR above patch based on empirical evidence ("it seems to work") and an unrelated PKCS11 documentation. As mentioned above I couldn't really find anything in the relevant RFCs, except for maybe that S, which we parse as MPI, is in little-endian encoding (see [RFC 8032, Section 5.1.6. Sign (6)](https://tools.ietf.org/html/rfc8032#section-5.1.6)) ...

>   6.  Form the signature of the concatenation of R (32 octets) and the
       little-endian encoding of S (32 octets; the three most
       significant bits of the final octet are always zero).

... whereas MPIs are actually supposed to be big-endian (see [RFC4880-bis10 3.2.  Multiprecision Integers](https://tools.ietf.org/html/draft-ietf-openpgp-rfc4880bis-10)):

>    An MPI consists of two pieces: a two-octet scalar that is the length
   of the MPI in bits followed by a string of octets that contain the
   actual integer.

>  These octets form a big-endian number; a big-endian number can be
   made into an MPI by prefixing it with the appropriate length.


But I doubt that this has to do with anything. 🤷 



This is not entirely surprising if you consider that eddsa is different than other implementations outside of openpgp: openpgp still requires you to prehash the data (whereas this is not required in other common eddsa). I claim this by looking at their implementation of [sign.c](https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob;f=g10/sign.c;h=ad605001adab7564d8d0f561766cb61874400948;hb=refs/heads/master#l653). My guess is that this is similar in nature: the MPI is not zero-padded as per the gpg implementation, and we are getting (1/256)-ish probability of that happening. If you really want to confirm this, try bumping the number of iterations to something less manageable (say, a million experiments), and you should see the probability converge to something along those lines.

What I'm somewhat more concerned is about the fact that it seems that with a faked system time we are able to cause this hash-prefix-collision in the implementation. For now I think it does make sense to split these two:

- we know that the preceeding bytes on a prehashed signature are because 4880 MPI's are not zero-padded 
- if somehow the system time is causing this behavior on gpg (which is rather scary if you ask me) and needs further investigation (but feels somewhat outside of our purview)

Does this make sense to you guys?

the s value in openpgp signature is completely correct I think (the example is the "too short" one):
`00 f8b1 53c4 582b 2d0e d144 e2a0 7981 76a0 13f2 d427 942a edb4 74f0 5947 aef6 a009`
the length is 00f8 (248) and the rest is the actual value -- the actual value is of course not zero padded since MPI includes the length.

I think the remaining question is what exactly is the signature format cryptography expects? do we know the padding algorithm they expect?

> 00f8b153c4582b2d0ed144e2a0798176a013f2d427942aedb474f05947aef6a009

Right, so my claim is that this should instead be: 

>010000b153c4582b2d0ed144e2a0798176a013f2d427942aedb474f05947aef6a009

Because s happens to be lead by two zeroes, those two zeroes are omitted (this is partly one of the wins of the MPI). From what I can see inside of `signature_object['signature']` cryptography is expecting the signature values (`(r,s)`) and the message to sign (i.e., the pre-hashed message, as per the PGP specification).

Further, after re-reading RFC8032 it seems that the first [3 most significant bits of s are always expected to be 0](https://tools.ietf.org/html/rfc8032#section-5.1.6), which means that having a whole octet of 0's on `s` is even more likely.

I also mulled over the idea of what you commented, that signing at a particular time this causes the same. This makes sense:

1. the header parameters are fixed (as we fixed the only moving piece of the signature payload by fixing the timestamp)
2. This leads to the same hash over the message + authenticated headers
3. This will lead to the same signature with leading 0's as the signing scheme is deterministic


I think the mpi value in openpgp is correct (why would it be longer than it needs to be) but the RFC8032 does seem to contain the answer:

>    6.  Form the signature of the concatenation of R (32 octets) and the
>        little-endian encoding of S (32 octets; the three most
>        significant bits of the final octet are always zero).

Both values must be padded to 32 octets when forming the concatenation

so 
```
r.rjust(32, b"\x00")
s.rjust(32, b"\x00")
```
This makes sense since it guarantees 64 octets which Lukas earlier example would not.

> Further, after re-reading RFC8032 it seems that the first 3 most significant bits of s are always expected to be 0, which means that having a whole octet of 0's on s is even more likely.

It actually says the *"the three most significant bits **of the final octet** are always zero"*, so this shouldn't affect the probability of a leading null byte.

---

Regardless, let me try to summarize our other insights:

- OpenPGPs MPIs seem to omit leading zero-bits 
   > The length field of an MPI describes the length starting from its
   most significant non-zero bit.  Thus, the MPI [00 02 01] is not
   formed correctly.  It should be [00 01 01].

   [RFC4880   3.2.  Multiprecision Integers]

- This makes sense, because MPIs are supposed to be big-endians, where e.g. `00FF == FF`)
   > These octets form a big-endian number; a big-endian number can be
   made into an MPI by prefixing it with the appropriate length.

   [ibid]

-  However, it is a problem for little-endians such as the value S in an EdDSA signature, where e.g. `00FF != FF`

   > Form the signature of the concatenation of R (32 octets) and the
   little-endian encoding of S (32 octets; the three most
   significant bits of the final octet are always zero).

   [RFC 8032, Section 5.1.6. Sign]

- This is why an implementation needs to know the required  length for `S`, to correctly left-pad a too short MPI before parsing the little-endian.

- GnuPG seems to have and apply this knowledge, otherwise it couldn't validate @jku's [too short signature](https://github.com/secure-systems-lab/securesystemslib/issues/334#issuecomment-780459859), e.g. like so:
  ```
   echo -n $DATA | gpg --homedir tests/gpg_keyrings/eddsa/ --verify sig
  ```
- `pyca/cryptography` (openssl backend), OTOH, doesn't not seem to apply this knowledge and thus fails to validate  @jku's too short signature, e.g. like so:
    ```python
    from securesystemslib.gpg import common, functions

    with open("sig", "rb") as f:
        sig_data = f.read()

    sig = common.parse_signature_packet(sig_data)
    key = functions.export_pubkey(
            "4E630F84838BF6F7447B830B22692F5FEA9E2DD2",
            homedir="tests/gpg_keyrings/eddsa")

    functions.verify_signature(sig, key, b"hello")
    ``` 
- NOTE: This is probably why `pyca/cryptography` makes sure that the [signatures it generates](https://github.com/pyca/cryptography/blob/dd09d500f9187df9f620aa7c984d01738cb60b11/src/cryptography/hazmat/backends/openssl/ed25519.py#L112-L113) on its own have the [correct length](https://github.com/pyca/cryptography/blob/dd09d500f9187df9f620aa7c984d01738cb60b11/src/cryptography/hazmat/primitives/asymmetric/ed25519.py#L13) to start with.

 


I think this is enough knowledge to create a PR above patch with good confidence. 

@jku, I agree that we need to make sure that both R and S are exactly 32 bytes long.

I'm working on a PR.

Oh yeah, I think we've run into a similar issue and accidentally DDoS-ed ourselves before.

IIUC, would it be a good idea to pad the actual signatures we produce, not just before verifying them?

> good idea to pad the actual signatures we produce, not just before verifying them?

#340 does pad the EdDSA signature upon creation.

IIRC, for the similar RSA issue we pad upon verification.

Nice, I wish we did that for RSA too, and I was planning to send a PR, but next time!

>  I wish we did that for RSA too

We probably chose to not do it, because we otherwise don't need the public key, which determines the amount of padding, upon signature creation/parsing.

> We probably chose to not do it, because we otherwise don't need the public key, which determines the amount of padding, upon signature creation/parsing.

Huh, TIL, how interesting, wonder why 🤔 

https://github.com/secure-systems-lab/securesystemslib/blob/760523c52bfabf1b4b021da95175b3ceb2dd09b3/securesystemslib/gpg/rsa.py#L197-L207

@SantiagoTorres knows more.

👀  
I just re-read https://github.com/in-toto/in-toto/issues/171#issuecomment-440039256 and this is indeed the exact same issue, except that here it is easier to fix because the size of the signature is always the same.